$main-color:rgb(172, 209, 241);;

.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    padding: 2vh ;
    background-color: $main-color;
    height: 75vh;
    border-radius: 10px;
    #home-page-text{
        font-size: 80px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(56, 75, 75);
    }
}

