$main-color:rgb(172, 209, 241);

.contact-page-container{
    display: flex;
    justify-content: center;
    .contact-page{
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        margin-top: 10vh;
        height: 20vh;
        border-radius: 15px;
        text-align:center;
        p{
            width: 90vw;
            margin: none;
            font-size: 20px;
            margin-block-start: 0em;
            margin-block-end: 0em;
            a{
                text-decoration: none;
            }
            a:visited{
                color: inherit;
            }
        }
    }
}
