.main{
    min-width: 40% ;
    width:auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(172, 209, 241);
    border-radius: 10px;
    text-align: center;
}
.main img{
    max-width: 90%;
}
._main{
    display: flex;
    flex-direction: row; 
    align-items: center;
    height: 100%;
}
#outlet-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}